* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {

    text-align: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
}

.section {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    box-sizing: border-box;
    flex-basis: calc(33.33% - 2rem);
    margin: 1rem;
    padding: 1rem;
}

.section-title1 {
    background-color: #ec303077;
    text-align: right;
    border: 1px solid #000000;
    color: #000000;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem;
   
}
.section-title2 {
    background-color: #ad1111a9;
    border: 1px solid #000000;
    color: #ebebebe1;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem;
    text-align: right;
}
.section-title3 {
    background-color: #dde93a65;
    border: 1px solid #000000;
    color: #000000;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.5rem;
    text-align: right;
   
}
@media (max-width: 767px) {
    .section {
        flex-basis: calc(100% - 2rem);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section {
        flex-basis: calc(50% - 2rem);
    }
}